/*******************************
Variables
*******************************/
$yellow: rgba(255, 195, 0, 1);
$orange: rgba(230, 126, 34,1.0);
$red: rgba(231, 76, 60,1.0);
$blue: rgba(52, 152, 219,1.0);
$purple: rgba(155, 89, 182,1.0);
$turquoise: rgba(26, 188, 156,1.0);
$dgrey: rgba(52, 73, 94,1.0);
$grey: rgba(189, 195, 199, 1);

/*******************************
Body Styles
*******************************/

.month, #home {
  height: 100vh;
  border: 1px;
  padding: 3%; }
 
img {
	height: 200px;
	margin-top: 50px;
}

/*******************************
Intro
*******************************/
.iblock {
	display: inline-block;
}

#prompt {
	float: left;
	margin-right: 20px;
}

h1 {
	margin-bottom: 40px;
}

h4 {
	margin: 0;
}
form {
	position: relative;
	overflow: hidden;
	box-size: border-box;
	margin-left: 20px;
}

#prompt, form {
	height: 50px;
	vertical-align: middle;
}

#home {
	margin-right: auto;
	margin-left: auto;
	position: relative;
  	overflow: scroll;
}

submit {
	cursor: pointer;
}

.theDate {
	color: $blue;
}
.dropdown-choose {
	height: 40px;
	width: 100px;

	background-color: white;
	color: $red;
}


.dropdown-choose > option, {
  margin: 3px;
  padding: 6px 8px;
  text-shadow: none;
  background: $blue;
  border-radius: 3px;
  cursor: pointer;
}

.treatYoSelf, {
	font-size: 130px;
	margin: 0 15px;
	display: inline-block;
}

.month {
	h3 {
	margin-top: 10px;
	font-size: 100px;
}
}

#submitButton {
	border-radius: 6px;
  	cursor: pointer;
  	padding: 12px;
  	height: 20em;
	background-color: $red;
	color: white;
}

iframe {
	margin-top: 30px;
}

#video {
	margin: 0;
	padding: 0;
	display: inline-block;
	float: right;

}

/*******************************
Months
*******************************/

#january {
	background-color: $blue;
}
#february {
	background-color: $red;
}
#march {
	background-color: $yellow
}
#april {
	background-color: $turquoise
}
#may {
	background-color: $orange
}
#june {
	background-color: $purple
}
#july {
	background-color: $red
}
#august {
	background-color: $yellow
}
#september {
	background-color: $turquoise
}
#october {
	background-color: $orange
}
#november {
	background-color: $purple
}
#december {
	background-color: $dgrey
}

